/* You can add global styles to this file, and also import other style files */
body {
  background: #c3e9eb;
  text-align: center;

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error {
  color: crimson;
  border-radius: 3px;
  border: 2px solid crimson;
  padding: 10px;
}

img {
  width: 475px ;
  height: 375px;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}
